.footer {
  text-align: center;
  padding-top: 4rem;

  h5 {
    color: $color-grey-2;
    font-size: 1.4rem;
    font-weight: 500;
  }

  button {
    border: none;
    margin: 1.2rem 0;
    outline: none;
    border-radius: 10px;
    font-size: 1.4rem;
    color: $color-primary;
    padding: 1.2rem 2rem;
    background-color: rgba($color-primary, 0.1);
    font-family: $font-primary;
    font-weight: 600;
    cursor: pointer;
  }

  &__logo {
    display: flex;
    justify-content: center;

    small {
      color: $color-dark-grey;
      font-size: 1.6rem;
      font-weight: 600;
      display: block;
      margin-left: 6px;
    }
  }
}
