@keyframes slide {
  from {
    bottom: -3rem;
  }
  to {
    bottom: 3rem;
  }
}

.popup {
  background-color: rgba($color-primary, 0.9);
  color: #fff;
  padding: 1.8rem 2rem;
  width: fit-content;
  position: fixed;
  left: 50%;
  bottom: 2.5rem;
  transform: translateX(-50%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  animation: slide 0.25s ease-in;
  p {
    margin-right: 2rem;
  }
  button {
    border: none;
    font-size: 1.5rem;
    font-family: $font-primary;
    padding: 7px 1rem;
    color: $color-primary;
    background-color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
  }
}
