//colors
$color-dark-grey: #333333;
$color-grey: #787676;
$color-light-grey: #fafafa;
$color-primary: #4d65f1;
$color-grey-2: #6c757d;
$color-grey-3: #e4e3e3;
$color-grey-4: #c4c4c4;
$color-red: #fa3e3e;
$color-white: #fff;

//fonts
$font-primary: "Work Sans", sans-serif;
